/**
 * @file
 * Styles for alerts when used with the Olivero theme.
 */
.site-header__inner__container {
  flex-wrap: wrap;
  position: relative;
}

.block-views-blockalerts-block-1 {
  flex-basis: 100%;
  margin-left: -1.125rem;
  margin-right: -1.125rem;
}

@media (min-width: 75rem) {
  .block-views-blockalerts-block-1 {
    margin-left: -2.25rem;
    margin-right: -2.25rem;
  }
}

/* Only indent based on screen width */
.block-views-blockalerts-block-1 .alert-banner {
  width: calc(100vw - 1rem + 1px);
  position: relative;
}
@media (min-width: 75rem) {
  .block-views-blockalerts-block-1 .alert-banner {
    width: calc(100vw - 6.625rem + 1px);
    max-width: 92.5rem;
  }
}
body.gin--vertical-toolbar .block-views-blockalerts-block-1 .alert-banner {
  width: calc(100vw - 1rem + 1px - var(--ginVerticalToolbarOffset, 240px));
  position: relative;
}
@media (min-width: 75rem) {
  body.gin--vertical-toolbar .block-views-blockalerts-block-1 .alert-banner {
    width: calc(100vw - 6.625rem + 1px - var(--ginVerticalToolbarOffset, 240px));
  }
}

.block-views-blockalerts-block-1 .alert-banner a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  display: block;
  padding: 0.8rem 1.125rem 0.7rem;
}
@media (min-width: 75rem) {
  .block-views-blockalerts-block-1 .alert-banner a {
    font-size: 1.25rem;
    padding: 1.5rem 2.25rem 1.4rem;
  }
}

.block-views-blockalerts-block-1 .alert-banner button {
  position: absolute;
  right: 1.125rem;
  background: inherit;
  border: none;
  /* box-shadow: inset 5px 5px 8px #000;
  border-radius: 50% 50%; */
}
@media (min-width: 75rem) {
  .block-views-blockalerts-block-1 .alert-banner button {
    right: 2.25rem;
  }
}

.block-views-blockalerts-block-1 .messages__close:before,
.block-views-blockalerts-block-1 .messages__close:after {
  border-top: solid 2px #fff;
}

.block-views-blockalerts-block-1 .messages__close:hover::before,
.block-views-blockalerts-block-1 .messages__close:focus::before,
.block-views-blockalerts-block-1 .messages__close:hover::after,
.block-views-blockalerts-block-1 .messages__close:focus::after {
  border-top: solid 4px #fff;
}

.block-views-blockalerts-block-1 .alert-banner a:focus {
  outline: solid 2px currentColor;
  outline-offset: -2px;
}
@media (min-width: 75rem) {
  .block-views-blockalerts-block-1 .alert-banner a:focus {
    outline: solid 3px currentColor;
    outline-offset: -3px;
  }
}

/* Format for add button. */
.block-views-blockalerts-block-1 .view-header {
  margin: 0;
  position: absolute;
  top: 0;
  right: 4rem;
  z-index: 20;
}

.block-views-blockalerts-block-1 .view-header .button {
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 2.5rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  font-size: 0.875rem;
}

@media (min-width: 75rem) {
  .block-views-blockalerts-block-1 .view-header {
    right: 6rem;
  }

  .block-views-blockalerts-block-1 .view-header .button {
    height: 3.375rem;
    padding-left: 1.6875rem;
    padding-right: 1.6875rem;
    font-size: 1.125rem;
  }
}
